:root{
    font-size: 62.5%;
    --font-size-100:1.3rem;
    --font-size-200:2.2rem;
    --font-size-300:2.5rem;
    --font-size-400:3.3rem;
    --font-size-500:3.7rem;

    --clr--white-100:#ffffff;
    --clr--white-200:rgba(255, 255, 255, 0.8);
    --clr--white-300:rgba(255, 255, 255, 0.5);

    --clr--black-100:#0e0e0e;
    --clr--black-200:#202020;
    --clr--black-300:rgba(94, 92, 92, 0.8);
    
    --clr--orange-100:rgb(255, 136, 0);
    --clr--orange-200:rgba(255, 123, 0, 0.8);
    --clr--orange-300:rgba(255, 123, 0, 0.5);
    --bg--transparent:rgba(62, 62, 62, 0.5);
    --border-radius-100: 10px;
    --border-radius-200: 20px;
    --border-radius-300: 30px;
}
 @media screen and (max-width: 768px) {
    :root {
    --font-size-100:1.5rem;
    --font-size-200:2.2rem;
    --font-size-300:2.5rem;
    --font-size-400:3.3rem;
    --font-size-500:5rem;
    }
    
 }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--clr--black-100);
    color: var(--clr--white-100);
    font-family: "Poppins", sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}

/* font-size */

.heading-big{
    font-size: var(--font-size-500);
}
.heading{
    font-size: var(--font-size-400);
}
.heading-small{
    font-size: var(--font-size-300);
}
.txt{
    font-size: var(--font-size-200);
}
.txt-big{
    font-size: var(--font-size-300);
}
.txt-small{
    font-size: var(--font-size-100);
}

.icon-heading {
     display: flex;
    align-items: center;
    gap: 1.5rem;
    font-size: var(--font-size-300);
    color: var(--clr--white-300);
}

/* text-color */

.white{

    color:var(--border-radius-100)
}
.gray{
    color: var(--clr--white-300);
}
.orange{
    color: var(--clr--orange-100);
}
/* text-gradient color */
.gradient-one{
    color: transparent;
    background: linear-gradient(
        to right, 
        var(--clr--orange-100), 
        rgb(50,255,255)
        );
        -webkit-background-clip: text;
}
.gradient-two{
    color: transparent;
    background: linear-gradient(
        to right,
         var(--clr--orange-200), 
        white
       );
        -webkit-background-clip: text;
}

/* margin */
.mgy-100{
    margin:1rem 0 ;
}
.mgy-200{
    margin:2rem 0 ;
}
.mgy-300{
    margin:3rem 0 ;
}
.mg-top-100{
    margin-top: 1rem ;
}
.mg-top-200{
    margin-top: 2rem ;
}
.mg-top-300{
    margin-top: 3rem ;
}
.mg-bottom-100{
    margin-bottom: 1rem;
}
.mg-bottom-200{
    margin-bottom: 2rem;
}
.mg-bottom-300{
    margin-bottom: 3rem;
}
.mg-bottom-400{
    margin-bottom: 5rem;
}
/* icon-link */
.icon-container{
    display: flex;
    justify-content: flex-start;
    gap: 1.7rem;
    cursor: pointer;

}
.link-icon{
    cursor: pointer;
    color: var(--clr--white-200);
    font-size: var(--font-size-300);
    transition: all 0.2s ease-in;
}
.link-icon:hover{
    color:var(--clr--orange-100);
    transform: scale(1.2);
    text-shadow: 0 0 10px var(--clr--orange-300);
}

/* interest */
.interest-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
}
.interest{
    font-size: var(--font-size-100);
    color: var(--clr--orange-100);
    border: 1px solid var(--clr--orange-100);
    border-radius: 50px;
    padding: 15px 30px;
    text-align: center;
}
.interest i{
    margin-right: 10px;
}
/* button */
.btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.9rem;
    font-size: var(--font-size-300);
    background-color: var(--clr--black-200);
    color: var(--clr--white-200);
    border: none;
    outline: none;
    padding: 17px 30px;
    border-radius: var(--border-radius-100);
}
.btn:hover{
    background-color: var(--clr--black-300);
    color: var(--clr--white-100);
    cursor: pointer;
}
.btn-block{
    width: 100%;
}
.btn i{
    font-size: calc( var(--font-size-300) -10px );
}
/* card-component */
.card{
    border-radius: var(--border-radius-300);
    padding: 5rem;
    background: linear-gradient(to right,
    var(--clr--black-100),
    var(--clr--black-200) );
}
.card-header{
    display: flex;
    align-items: center;
    gap: 0.7rem;
}
.card-header span{
    letter-spacing: 2px;
}
.card-header::before{
    content: "";
    display:inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--clr--white-300);
}
 .link{
    font-size: var(--font-size-100);
    color: chocolate;
}
.link i{
    font-size: calc( var(--font-size-100) - 5px );
    margin: 1px 0 0 5px;
    transition: margin 0.2s ease;
}
.link:hover{
    color: var(--clr--orange-300);
}
.link:hover i{
    margin: 1px 0 0 10px;

}
.card:nth-child(even){
     background: linear-gradient(to right,
    var(--clr--black-200),
    var(--clr--black-100) );
}

/* job card */
.job-card{
    border: 1px solid var(--clr--black-300);
    padding: 3rem;
    border-radius: var(--border-radius-300);
}
.job{
    display: flex;
    align-items: center;
    justify-content: ;
    gap: 3rem;
    padding: 1rem 0 ;
    border-bottom: 1px solid var(--clr--black-300);
}
.company-logo{
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    overflow: hidden;
    outline:2px solid var(--clr--black-300);
    outline-offset: 2px;
    border-radius: 50%;
}
.company-logo img{
    width: 100%;
}
.name-position{
    flex-grow: 1;
}

/* card submit*/
.email-card{
    border: 1px solid var(--clr--black-300); 
    padding: 4rem;
    border-radius: var(--border-radius-300);
}
.email-form{
    display: flex;
    gap: 1rem;
}
.email-form input{
    /* flex-grow: 1; */
    width: 100%;
    background-color: var(--clr--black-200);
    border: 1px solid var(--clr--black-300);
    padding-left: 2rem;
    color: var(--clr--white-300);
    outline: none;
    border-radius: var(--border-radius-100);
    font-size: var(--font-size-300);
}


/* navbar section */
.navbar{
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 20px;
    padding: 0 20px ;
    flex-wrap: wrap;
}
.profile{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--bg--transparent);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
}
.profile img{
    width: 100%;
}
.toggle{
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    background-color: var(--bg--transparent);
    border: none;
    outline: none;
    color: var(--clr--white-200);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: var(--font-size-300);
}
.nav-list{
   width: 100%;
   display: none;
   flex-direction: column;
    gap: 1rem;
    margin-top: 20px;
    padding: 2rem;
    background-color: var(--bg--transparent);
    border-radius: var(--font-size-100);
}
.nav-list.active{
    display: flex;
}
.nav-link{
    padding: 5px 0 ;
    font-size: var(--font-size-200);
    border-bottom: 1px solid var(--clr--black-300);
}
.nav-link a {
    letter-spacing: 2px;
    color: var(--clr--white-300);
}

@media screen and (min-width:768px){
    .nav-list{
        margin: 0;
        position: fixed;
        left: 50%;
        top: 50px;
        transform:translateX(-50%);
        max-width: 550px;
        display: flex;
        flex-direction: row;
        gap: 2rem;
        justify-content: center;
        border-radius: 100px;
        border: 1px solid var(--clr--black-300);
        padding: 1rem 3rem;
        -webkit-backdrop-filter: blur(20px);
                backdrop-filter: blur(20px);
    }
    .nav-link{
        border: none;
    }
    .toggle{
       display: none;
    }
     .profile{
        position: fixed;
        top: 50px;
        left: 50px;
        -webkit-backdrop-filter: blur(20px);
                backdrop-filter: blur(20px);
    }
    .nav-link:hover a{
        color: var(--clr--orange-100);
    }
}
@media screen and (min-width:650px) and (max-width:850px) {
    .profile{
        display: none;
    }
    .toggle{
        display: none;
    }
    
}

/* hero section */
.hero-section{
    padding: 15rem 10rem 3rem ;
}
@media screen and(min-width: 650px) {
  .hero-section{
    padding: 19rem 10rem 10rem;
   }
}

/* hoby section */
.hoby-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    padding: 25rem 0;
    background-image: linear-gradient(to bottom,
    var(--clr--black-100),
    rgba(97, 39, 0, 0.2),
    var(--clr--black-100)
    ), url(/htmlandcss/project/img/bg-gradient.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* job section */
.job-section{
    padding: 0 2rem;
}
.job-section header{
    text-align: center;
}
.grid-container{
    display: grid;
     gap:2rem;
     padding: 0 2rem;

}

@media screen and (min-width:900px){
    .grid-container{
        padding:  0 7rem;
    grid-template-columns: 1.5fr 1fr;
    grid-template-areas: 
    "a b"
    "c b"
    "d e"
    ;
    }
    .grid-container :nth-child(4){
    grid-area: b;
  }
  .grid-container article{
    align-self: flex-start;
  }
}
@media screen and(min-width:1200px){
    .job-section{
      padding: 0 10rem;
    }
}
/* footer */
.footer{
    margin-top: 7rem;
    padding: 7rem 0;
    border-top: 1px solid var(--clr--black-300);
}
.footer .icon-container{
    justify-content: flex-end;
}

@media screen and (max-width:750px){
    .footer .icon-container{
        justify-content: center;
    }
}
